<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<%- include('../partials/flash') %>

<div clas="row mt-5">

    <%for(let item of allCars){%>
        <div class="row mt-5">
            <div class="col-lg-4 card" style="width: 18rem;">
                <img class="card-img-top" src="<%=item.img%>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%=item.name%></h5>
                    <h6 class="card-title">Price per km -<%=item.price%></h6>
                    <p class="card-text"><%=item.desc.substring(0,10)%>...</p>
                    <a href="cars/<%= item.id %>" class="btn btn-primary">show more</a>
                    
                </div>
            </div>
        </div>
        

    <% } %>
    </br>
    <a href="cars/new" class="btn btn-primary">Add new Vehicle</a>

</div>





<%- include('../partials/footer') %>